<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Jobhunt</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="CreativeLayers">
{% load staticfiles %}

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-grid.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/icons.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/animate.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/chosen.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/colors/colors.css" %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>

<div class="page-loading">
	<img src="{% static "images/loader.gif" %}"  alt="" />
	<span>Skip Loader</span>
</div>

<div class="theme-layout" id="scrollup">

	<div class="responsive-header">
		<div class="responsive-menubar">
			<div class="res-logo"><a href="{% url 'home' %}" title=""><img src="{% static "images/logo.png" %}" alt="" /></a></div>
			<div class="menu-resaction">
				<div class="res-openmenu">
					<img src="{% static "images/icon.png" %}" alt="" /> Menu
				</div>
				<div class="res-closemenu">
					<img src="{% static "images/icon2.png" %}" alt="" /> Close
				</div>
			</div>
		</div>
		<div class="responsive-opensec">
			<div class="btn-extars">
				<a href="#" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
				<ul class="account-btns">
					<li class="signup-popup"><a title=""><i class="la la-key"></i> Sign Up</a></li>
					<li class="signin-popup"><a title=""><i class="la la-external-link-square"></i> Login</a></li>
				</ul>
			</div><!-- Btn Extras -->
			<form class="res-search">
				<input type="text" placeholder="Job title, keywords or company name" />
				<button type="submit"><i class="la la-search"></i></button>
			</form>
			<div class="responsivemenu">
				<ul>
						<li class="menu-item-has-children">
							<a href="#" title="">Life in Korea</a>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Employers</a>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Candidates</a>
						</li>
					</ul>
			</div>
		</div>
	</div>

	<header class="stick-top">
		<div class="menu-sec">
			<div class="container">
				<div class="logo">
					<a href="{% url 'home' %}" title=""><img class="hidesticky" src="{% static "images/logo.png" %}" alt="" /><img class="showsticky" src="{% static "images/logo.png" %}" alt="" /></a>
				</div><!-- Logo -->
				<div class="btn-extars">
					<ul class="account-btns">
						<li class="signup-popup"><a title="" href="{% url 'login_url' %}">Sign In</a></li>
					</ul>
				</div><!-- Btn Extras -->
				<nav>
					<ul>
						<li class="menu-item-has">
							<a href="{% url 'Job:list' %}" title="">Job</a>
						</li>
						<li class="menu-item-has">
							<a href="{% url 'how_it_works' %}" title="">How it works</a>
						</li>
						<li class="menu-item-has">
							<a href="{% url 'life_in_korea' %}" title="">Life in Korea</a>
						</li>
					</ul>
				</nav><!-- Menus -->
			</div>
		</div>
	</header>

	<section class="overlape">
		<div class="block no-padding">
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner-header">
							<h3>Complete your profile now. Apply with one click and manage all your applications!</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block less-top">
			<div class="container">
				 <div class="row">
				 	<aside class="col-lg-3 column margin_widget">
				 		<div class="widget">
				 			<div class="search_widget_job">
				 				<div class="field_w_search">
				 					<input type="text" placeholder="Search Keywords" />
				 					<i class="la la-search"></i>
				 				</div><!-- Search Widget -->
				 			</div>
				 		</div>

				 		<div class="widget border">
				 			<h3 class="sb-title open">Sort by</h3>
				 			<div class="specialism_widget">
				 				<div class="simple-checkbox">
                                    <p><a class="sort-date" href="/">Starting Date(Earliest)</a></p>
                                    <p><a class="sort-likes" href="?sort=likes">Starting Date(Latest)</a></p>
                                    <p><a class="sort-date" href="/">Contract Period(Longest)</a></p>
                                    <p><a class="sort-likes" href="?sort=likes">Contract Period(Shortest)</a></p>
                                    <p><a class="sort-date" href="/">Salary</a></p>
                                    <p><a class="sort-likes" href="?sort=likes">Age Level</a></p>
								</div>
				 			</div>
				 		</div>

				 	</aside>

				 	<div class="col-lg-9 column">
				 		<div class="emply-list-sec style2">

                            {% for job in Jobs %}
                                <div class="emply-list" onmouseover="detailon()" onmouseout="detailout()" onclick="location.href='{% url 'Job:detail' job.pk %}'">
                                    <div class="emply-list-thumb">
                                        <a href="#" title=""><img src="{{ job.house_pic1.url }}" alt="" /></a>
                                    </div>
                                    <div class="emply-list-info">
                                        <div class="emply-pstn"><a class="list_detail" href="{% url 'Job:detail' job.pk %}">Details</a></div>
                                        <h3><a href="#" title="">{{ job.school_name }}</a></h3>
                                        <span><i class="far fa-calendar-alt list-icon"></i><o>{{ job.start_date }} </o><i class="fas fa-briefcase list-icon"></i><o>{{ job.contract_period }} </o><i class="fas fa-money-bill-alt list-icon"></i><o>{{ job.min_salary }} ~ {{ job.max_salary }}</o><i class="fas fa-location-arrow list-icon"></i><o>{{ job.location}}</o></span>
                                        <p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
                                    </div>
                                </div><!-- Employe List -->
                            {% endfor %}

				 			<div class="pagination">
								<ul>
									<li class="prev"><a href=""><i class="la la-long-arrow-left"></i> Prev</a></li>
									<li><a href="">1</a></li>
									<li class="active"><a href="">2</a></li>
									<li><a href="">3</a></li>
									<li><span class="delimeter">...</span></li>
									<li><a href="">14</a></li>
									<li class="next"><a href="">Next <i class="la la-long-arrow-right"></i></a></li>
								</ul>
							</div><!-- Pagination -->
				 		</div>
					</div>
				 </div>
			</div>
		</div>
	</section>

	<footer>
		<div class="block block-foot">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 column">
						<div class="widget">
							<div class="about_widget">
								<div class="logo">
                                    <span>LOKA 101</span>
								</div>
								<span>Life in Korea</span>
								<span>Job Board</span>
								<span>Job-landing Rewards</span>
                                <span>SIM Service</span>
                                <span>Blog</span>

							</div><!-- About Widget -->
						</div>
					</div>

					<div class="col-lg-6 column">
						<div class="widget">
							<div class="download_widget">
                                <div class="footer-info">
                                    <p class="footer-info-title">Phone</p>
                                    <p class="footer-info-desc">*82-10-1234-5678</p>
                                </div>
                                <div class="footer-info">
                                    <p class="footer-info-title">Email</p>
                                    <p class="footer-info-desc">info@loka101.com</p>
                                </div>
                                <div class="footer-info">
                                    <p class="footer-info-title">Kakao</p>
                                    <p class="footer-info-desc">username</p>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-line">
            <div class="social">
                <a href="#" title=""><i class="fab fa-facebook-f"></i></a>
                <a href="#" title=""><i class="fa fa-twitter"></i></a>
                <a href="#" title=""><i class="fa fa-linkedin"></i></a>
                <a href="#" title=""><i class="fa fa-pinterest"></i></a>
                <a href="#" title=""><i class="fa fa-behance"></i></a>
            </div>
			<span>© 2018 Loka101 All rights reserved.</span>
			<a href="#scrollup" class="scrollup" title=""><i class="la la-arrow-up"></i></a>
		</div>
	</footer>

</div>

<script src="{% static "js/jquery.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/modernizr.js" %}" type="text/javascript"></script>
<script src="{% static "js/script.js" %}" type="text/javascript"></script>
<script src="{% static "js/wow.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/slick.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/parallax.js" %}" type="text/javascript"></script>
<script src="{% static "js/select-chosen.js" %}"  type="text/javascript"></script>
<script src="{% static "js/jquery.scrollbar.min.js" %}"  type="text/javascript"></script>
<script src="{% static "js/rslider.js" %}"  type="text/javascript"></script>

<script>
    function detailon() {
        $('.list_detail').css("display", "block");
    }

    function detailout() {
        $('.list_detail').css("display", "none");
    }

</script>


</body>
</html>

