<!DOCTYPE html>
<html>
<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KK2X9NL');</script>
    <!-- End Google Tag Manager -->

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>TeachingHoliday</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Cypress">

{% load staticfiles %}
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "favicon/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "favicon/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "favicon/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "favicon/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "favicon/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "favicon/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "favicon/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "favicon/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "favicon/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "favicon/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "favicon/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-grid.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/icons.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/animate.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/chosen.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/colors/colors.css" %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KK2X9NL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page-loading">
	<img src="{% static "images/loader.gif" %}"  alt="" />
	<span>Skip Loader</span>
</div>

<div class="theme-layout" id="scrollup">

	<div class="responsive-header">
		<div class="responsive-menubar">
			<div class="res-logo"><a href="{% url 'home' %}" title=""><img src="{% static "images/logo.png" %}" alt="" /></a></div>
			<div class="menu-resaction">
				<div class="res-openmenu">
					<img src="{% static "images/icon.png" %}" alt="" /> Menu
				</div>
				<div class="res-closemenu">
					<img src="{% static "images/icon2.png" %}" alt="" /> Close
				</div>
			</div>
		</div>
		<div class="responsive-opensec">
			<div class="btn-extars">
                {% if user.is_active %}
                    {% if user.type == 'Employer' %}
                        <a href="{% url 'Job:upload' %}" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
                        <ul class="account-btns">
					        <li class="signup-popup"><a href="{% url 'employer_update' user.pk %}" title=""><i class="la la-key"></i> My Page</a></li>
					        <li class="signin-popup"><a href="{% url 'logout_url' %}" title=""><i class="la la-external-link-square"></i> Logout</a></li>
				        </ul>
                    {% else %}
                        <ul class="account-btns">
					        <li class="signup-popup"><a href="{% url 'user_update' user.pk %}" title=""><i class="la la-key"></i> My Page</a></li>
					        <li class="signin-popup"><a href="{% url 'logout_url' %}" title=""><i class="la la-external-link-square"></i> Logout</a></li>
				        </ul>
                    {% endif %}
                    {% else %}
                    <ul class="account-btns">
					    <li class="signup-popup"><a href="{% url 'register' %}" title=""><i class="la la-key"></i> Sign Up</a></li>
					    <li class="signin-popup"><a href="{% url 'login_url' %}" title=""><i class="la la-external-link-square"></i> Login</a></li>
				    </ul>
                {% endif %}

			</div><!-- Btn Extras -->

            <a href="{% url 'Job:list' %}" title="">Jobs</a>
            <a href="{% url 'how_it_works' %}" title="">How it works</a>
            <a href="{% url 'life_in_korea' %}" title="">Life in Korea</a>
		</div>
	</div>

	<header class="stick-top">
		<div class="menu-sec">
			<div class="container">
				<div class="logo">
					<a href="{% url 'home' %}" title=""><img class="hidesticky" src="{% static "images/logo.png" %}" alt="" /><img class="showsticky" src="{% static "images/logo.png" %}" alt="" /></a>
				</div><!-- Logo -->
				<div class="btn-extars">
					<ul class="account-btns">
                        {% if user.is_active %}
                            {%  if user.type == "Employer" %}
                                <li class="signup-popup"><a title="" href="{% url 'employer_update' user.pk %}">My Page</a></li>
                                <li class="signup-popup"><a class="Acc2" href="{% url 'Job:upload' %}">+ Post a new Job</a></li>
                                {% else %}
                                <li class="signup-popup"><a title="" href="{% url 'user_update' user.pk %}">My Page</a></li>
                                <li class="signup-popup"><a class="Acc2" href="{% url 'logout_url' %}">Log out</a></li>
                                {% endif %}
		                {% else %}
                            <li class="signup-popup"><a title="" href="{% url 'login_url' %}">Sign In</a></li>
                        {% endif %}
                    </ul>
				</div><!-- Btn Extras -->
				<nav>
					<ul>
						<li class="menu-item-has">
							<a href="{% url 'Job:list' %}" title="">Jobs</a>
						</li>
						<li class="menu-item-has">
							<a href="{% url 'how_it_works' %}" title="">How it works</a>
						</li>
						<li class="menu-item-has">
							<a href="{% url 'life_in_korea' %}" title="">Life in Korea</a>
						</li>
					</ul>
				</nav><!-- Menus -->
			</div>
		</div>
	</header>

	<section class="overlape">
		<div class="block no-padding">
			<div data-velocity="-.1" style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner-header detail">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block detail-section">
			<div class="container">
				<div class="row">
				 	<div class="col-lg-12 column">
				 		<div class="job-single-sec style3">
				 			<div class="job-head-wide">
				 				<div class="row">
				 					<div class="col-lg-8">
				 						<div class="job-single-head3">
							 				<div class="job-single-info3 job-title-div">
							 					<h3>{{ Jobs.school_name }}</h3>
							 					<ul class="tags-jobs">
								 					<li><i class="far fa-calendar-alt list-icon"></i>{{ Jobs.start_date }}</li>
								 					<li><i class="fas fa-briefcase list-icon"></i>{{ Jobs.contract_period }} Month +</li>
								 					<li><i class="fas fa-money-bill-alt list-icon"></i>{{ Jobs.min_salary }}M ~ {{ Jobs.max_salary }}M KRW</li>
                                                    <li><i class="fas fa-location-arrow list-icon"></i>{{ Jobs.location}}</li>
								 				</ul>
                                                {% if Jobs.summary %}
                                                    <p class="summary_detail" >{{ Jobs.summary }}</p>
                                                {% endif %}
							 				</div>
							 			</div><!-- Job Head -->
				 					</div>
				 					<div class="col-lg-4">
				 						<a class="apply-thisjob" href="{% url 'Job:apply' Jobs.pk %}" title=""><i class="la la-paper-plane"></i>Apply for job</a>
				 					</div>
				 				</div>
				 			</div>
				 			<div class="job-wide-devider">
							 	<div class="row">
							 		<div class="col-lg-8 column">
							 			<div class="job-details">

                                            <div class="job-detail">
                                                <div class="job-detail-left">
                                                    <h3>Starting Date</h3>
                                                    <p>{{ Jobs.start_date }}</p>

                                                    <h3>Working days and hours</h3>
                                                    <p>{{ Jobs.day_hour }}</p>

                                                    <h3>Contract Period</h3>
                                                    <p>{{ Jobs.contract_period }} Month +</p>

                                                </div>
                                                <div class="job-detail-right">

                                                    <h3>Location</h3>
                                                    <p>{{ Jobs.location }}</p>

                                                    <h3>Salary</h3>
                                                    <p>{{ Jobs.min_salary }}M ~ {{ Jobs.max_salary }}M KRW</p>

                                                    <h3>Age Level</h3>
                                                    {% if Jobs.age_level|length == 30 %}
                                                        <p>{{ Jobs.age_level | slice:"2:28" | cut:"'"}}</p>
                                                    {% elif Jobs.age_level|length == 16 %}
                                                        <p>{{ Jobs.age_level | slice:"2:14" | cut:"'"}}</p>
                                                    {% elif Jobs.age_level|length == 40 %}
                                                        <p>{{ Jobs.age_level | slice:"2:38" | cut:"'"}}</p>
                                                    {% elif Jobs.age_level|length == 24 %}
                                                        <p>{{ Jobs.age_level | slice:"2:22" | cut:"'"}}</p>
                                                    {% elif Jobs.age_level|length == 25 %}
                                                        <p>{{ Jobs.age_level | slice:"2:33" | cut:"'"}}</p>
                                                    {% elif Jobs.age_level|length == 14 %}
							                            <p>{{ Jobs.age_level | slice:"2:12" | cut:"'"}}</p>
              					                    {% elif Jobs.age_level|length == 10 %}
                                                        <p>{{ Jobs.age_level | slice:"2:8" | cut:"'"}}</p>
						                            {% else %}
							                            <p>{{ Jobs.age_level | length }}</p>
                                                    {% endif %}

                                                </div>
                                            </div>
							 			</div>
                                        <div class="col-lg-12 column des_detail">
                                            <div class="job-single-info3">
                                                <h3 class="des_detail_div">Additonal Benefit</h3>
                                                <div class="job-detail-left">
                                                    <h3>Housing</h3>
                                                    <p>{{ Jobs.house }}</p>

                                                    <h3>Health Insurance</h3>
                                                    <p>{{ Jobs.health_insurance }}</p>

                                                    <h3>Severance Payment</h3>
                                                    <p>{{ Jobs.severance_payment }}</p>
                                                </div>
                                                <div class="job-detail-right">

                                                    <h3>Flight Support</h3>
                                                    {% if Jobs.flight_support|length == 9 %}
                                                        <p>{{ Jobs.flight_support | slice:"2:6"}}</p>
                                                    {% elif Jobs.flight_support|length == 11 %}
                                                        <p>{{ Jobs.flight_support | slice:"2:9"}}</p>
                                                    {% elif Jobs.flight_support|length == 14 %}
                                                        <p>{{ Jobs.flight_support | slice:"2:12"}}</p>
                                                    {% else %}
                                                        <p>{{ Jobs.flight_support | length }}</p>
                                                    {% endif %}

                                                    <h3>National Pension </h3>
                                                    <p>{{ Jobs.national_pension }}</p>

                                                </div>
                                            </div>
                                        </div>
                                    {% if Jobs.description %}
                                        <div class="col-lg-12 column des_detail">
                                            <div class="job-single-info3">
                                                <h3 class="des_detail_div">Description</h3>
                                                <p>{{ Jobs.description }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if Jobs.qualification %}
                                        <div class="col-lg-12 column des_detail">
                                            <div class="job-single-info3">
                                                <h3 class="des_detail_div">Qualification</h3>
                                                <p>{{ Jobs.qualification }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
							 		</div>
							 		<div class="col-lg-4 column">
								 		<div class="quick-form-job">
								 			<h3>Photos</h3>
                                            <div class="house_picture">
                                                {% if Jobs.house_pic1 %}
                                                <img src="{{ Jobs.house_pic1.url }}" alt="" />
                                                {% endif %}
                                                {% if Jobs.house_pic2 %}
                                                <img src="{{ Jobs.house_pic2.url }}" alt="" />
                                                {% endif %}
                                                {% if Jobs.house_pic3 %}
                                                <img src="{{ Jobs.house_pic3.url }}" alt="" />
                                                {% endif %}
                                            </div>
								 		</div>
							 		</div>
							 	</div>
							 </div>
					 	</div>
				 	</div>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="block block-foot">
			<div class="container">
				<div class="row">
					<div class="col-md-6 column">
						<div class="widget">
							<div class="about_widget">
								<div class="logo">
                                    <span>Teaching Holiday</span>
								</div>
								<span>Life in Korea</span>
								<span>Job Board</span>
                                <span>SIM Service</span>
                                <span>Blog</span>

							</div><!-- About Widget -->
						</div>
					</div>

					<div class="col-md-6 column">
						<div class="widget">
							<div class="download_widget">
                                <div class="footer-info">
                                    <p class="footer-info-title">Phone</p>
                                    <p class="footer-info-desc">+82-10-3133-1020</p>
                                </div>
                                <div class="footer-info">
                                    <p class="footer-info-title">Email</p>
                                    <p class="footer-info-desc">ceo@loka101.com</p>
                                </div>
                                <div class="footer-info">
                                    <p class="footer-info-title">Kakao</p>
                                    <p class="footer-info-desc">loka101</p>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-line">
            <div class="social">
                <a href="#" title=""><i class="fab fa-facebook-f"></i></a>
                <a href="#" title=""><i class="fab fa-linkedin-in"></i></a>
            </div>
			<span>© 2018 Loka101 All rights reserved.</span>
			<a href="#scrollup" class="scrollup" title=""><i class="la la-arrow-up"></i></a>
		</div>
	</footer>
</div>


<script src="{% static "js/jquery.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/modernizr.js" %}" type="text/javascript"></script>
<script src="{% static "js/script.js" %}" type="text/javascript"></script>
<script src="{% static "js/wow.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/slick.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/parallax.js" %}" type="text/javascript"></script>
<script src="{% static "js/select-chosen.js" %}"  type="text/javascript"></script>
<script src="{% static "js/jquery.scrollbar.min.js" %}"  type="text/javascript"></script>

</body>
</html>

