<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Jobhunt</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="CreativeLayers">
{% load staticfiles %}

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-grid.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/icons.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/animate.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/chosen.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/colors/colors.css" %}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

</head>
<body>

<div class="page-loading">
	<img src="{% static "images/loader.gif" %}"  alt="" />
	<span>Skip Loader</span>
</div>

<div class="theme-layout" id="scrollup">

	<div class="responsive-header">
		<div class="responsive-menubar">
			<div class="res-logo"><a href="index.html" title=""><img src="http://placehold.it/178x40" alt="" /></a></div>
			<div class="menu-resaction">
				<div class="res-openmenu">
					<img src="{% static "images/icon.png" %}" alt="" /> Menu
				</div>
				<div class="res-closemenu">
					<img src="{% static "images/icon2.png" %}" alt="" /> Close
				</div>
			</div>
		</div>
		<div class="responsive-opensec">
			<div class="btn-extars">
				<a href="#" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
				<ul class="account-btns">
					<li class="signup-popup"><a title=""><i class="la la-key"></i> Sign Up</a></li>
					<li class="signin-popup"><a title=""><i class="la la-external-link-square"></i> Login</a></li>
				</ul>
			</div><!-- Btn Extras -->
			<form class="res-search">
				<input type="text" placeholder="Job title, keywords or company name" />
				<button type="submit"><i class="la la-search"></i></button>
			</form>
			<div class="responsivemenu">
				<ul>
						<li class="menu-item-has-children">
							<a href="#" title="">Life in Korea</a>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Employers</a>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Candidates</a>
						</li>
					</ul>
			</div>
		</div>
	</div>

	<header class="stick-top">
		<div class="menu-sec">
			<div class="container">
				<div class="logo">
					<a href="index.html" title=""><img class="hidesticky" src="http://placehold.it/178x40" alt="" /><img class="showsticky" src="http://placehold.it/178x40" alt="" /></a>
				</div><!-- Logo -->
				<div class="btn-extars">
					<ul class="account-btns">
						<li class="signup-popup"><a title="" href="{% url 'login_url' %}">Sign In</a></li>
					</ul>
				</div><!-- Btn Extras -->
				<nav>
					<ul>
						<li class="menu-item-has">
							<a href="{% url 'Job:list' %}" title="">Job</a>
						</li>
						<li class="menu-item-has">
							<a href="#" title="">How it works</a>
						</li>
						<li class="menu-item-has">
							<a href="#" title="">Life in Korea</a>
						</li>
					</ul>
				</nav><!-- Menus -->
			</div>
		</div>
	</header>

	<section class="overlape">
		<div class="block no-padding">
			<div data-velocity="-.1" style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner-header">
							<h3>Application Developer For Android</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
				 	<div class="col-lg-12 column">
				 		<div class="job-single-sec style3">
				 			<div class="job-head-wide">
				 				<div class="row">
				 					<div class="col-lg-8">
				 						<div class="job-single-head3">
							 				<div class="job-thumb"> <img src="http://placehold.it/120x95" alt="" /><span>12 Open Position</span> </div>
							 				<div class="job-single-info3">
							 					<h3>Tera Planner</h3>
							 					<span><i class="la la-map-marker"></i>Sacramento, California</span><span class="job-is ft">Full time</span>
							 					<ul class="tags-jobs">
								 					<li><i class="la la-file-text"></i> Applications 1</li>
								 					<li><i class="la la-calendar-o"></i> Post Date: July 29, 2017</li>
								 					<li><i class="la la-eye"></i> Views 5683</li>
								 				</ul>
							 				</div>
							 			</div><!-- Job Head -->
				 					</div>
				 					<div class="col-lg-4">
				 						<a class="apply-thisjob" href="#" title=""><i class="la la-paper-plane"></i>Apply for job</a>
				 					</div>
				 				</div>
				 			</div>
				 			<div class="job-wide-devider">
							 	<div class="row">
							 		<div class="col-lg-8 column">
							 			<div class="job-details">
							 				<h3>Job Description</h3>
							 				<p>Company is a 2016 Iowa City-born start-up that develops consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>
							 				<p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien</p>
							 				<h3>Required Knowledge, Skills, and Abilities</h3>
							 				<ul>
							 					<li>Ability to write code – HTML & CSS (SCSS flavor of SASS preferred when writing CSS)</li>
							 					<li>Proficient in Photoshop, Illustrator, bonus points for familiarity with Sketch (Sketch is our preferred concepting)</li>
							 					<li>Cross-browser and platform testing as standard practice</li>
							 					<li>Experience using Invision a plus</li>
							 					<li>Experience in video production a plus or, at a minimum, a willingness to learn</li>
							 				</ul>
							 				<h3>Education + Experience</h3>
							 				<ul>
							 					<li>Advanced degree or equivalent experience in graphic and web design</li>
							 					<li>3 or more years of professional design experience</li>
							 					<li>Direct response email experience</li>
							 					<li>Ecommerce website design experience</li>
							 					<li>Familiarity with mobile and web apps preferred</li>
							 					<li>Excellent communication skills, most notably a demonstrated ability to solicit and address creative and design feedback</li>
							 					<li>Must be able to work under pressure and meet deadlines while maintaining a positive attitude and providing exemplary customer service</li>
							 					<li>Ability to work independently and to carry out assignments to completion within parameters of instructions given, prescribed routines, and standard accepted practices</li>
							 				</ul>
							 			</div>
							 			<div class="share-bar">
							 				<span>Share</span><a href="#" title="" class="share-fb"><i class="fa fa-facebook"></i></a><a href="#" title="" class="share-twitter"><i class="fa fa-twitter"></i></a>
							 			</div>
							 			<div class="extra-job-info">
								 			<span><i class="la la-clock-o"></i><strong>35</strong> Days</span>
								 			<span><i class="la la-file-text"></i><strong>300-500</strong> Application</span>
								 			<span><i class="la la-search-plus"></i><strong>35697</strong> Displayed</span>
								 		</div>

							 		</div>
							 		<div class="col-lg-4 column">
								 		<div class="quick-form-job">
								 			<h3>Contact</h3>
								 			<form>
								 				<input type="text" placeholder="Enter your Name *" />
								 				<input type="text" placeholder="Email Address*" />
								 				<input type="text" placeholder="Phone Number" />
								 				<textarea placeholder="Message should have more than 50 characters"></textarea>
								 				<button class="submit">Send Email</button>
								 				<span>You accepts our <a href="#" title="">Terms and Conditions</a></span>
								 			</form>
								 		</div>
							 		</div>
							 	</div>
							 </div>
					 	</div>
				 	</div>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="block block-foot">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 column">
						<div class="widget">
							<div class="about_widget">
								<div class="logo">
                                    <span>LOKA 101</span>
								</div>
								<span>Life in Korea</span>
								<span>Job Board</span>
								<span>Job-landing Rewards</span>
                                <span>SIM Service</span>
                                <span>Blog</span>

							</div><!-- About Widget -->
						</div>
					</div>

					<div class="col-lg-6 column">
						<div class="widget">
							<div class="download_widget">
                                <div class="footer-info">
                                    <p class="footer-info-title">Phone</p>
                                    <p class="footer-info-desc">*82-10-1234-5678</p>
                                </div>
                                <div class="footer-info">
                                    <p class="footer-info-title">Email</p>
                                    <p class="footer-info-desc">info@loka101.com</p>
                                </div>
                                <div class="footer-info">
                                    <p class="footer-info-title">Kakao</p>
                                    <p class="footer-info-desc">username</p>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-line">
            <div class="social">
                <a href="#" title=""><i class="fa fa-facebook"></i></a>
                <a href="#" title=""><i class="fa fa-twitter"></i></a>
                <a href="#" title=""><i class="fa fa-linkedin"></i></a>
                <a href="#" title=""><i class="fa fa-pinterest"></i></a>
                <a href="#" title=""><i class="fa fa-behance"></i></a>
            </div>
			<span>© 2018 Loka101 All rights reserved.</span>
			<a href="#scrollup" class="scrollup" title=""><i class="la la-arrow-up"></i></a>
		</div>
	</footer>
</div>


<script src="{% static "js/jquery.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/modernizr.js" %}" type="text/javascript"></script>
<script src="{% static "js/script.js" %}" type="text/javascript"></script>
<script src="{% static "js/wow.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/slick.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/parallax.js" %}" type="text/javascript"></script>
<script src="{% static "js/select-chosen.js" %}"  type="text/javascript"></script>
<script src="{% static "js/jquery.scrollbar.min.js" %}"  type="text/javascript"></script>

</body>
</html>

