<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Jobhunt</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="CreativeLayers">
{% load staticfiles %}

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-grid.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/icons.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/animate.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/chosen.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/colors/colors.css" %}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>


</head>
<body>

<div class="page-loading">
	<img src="images/loader.gif" alt="" />
	<span>Skip Loader</span>
</div>

<div class="theme-layout" id="scrollup">

	<div class="responsive-header">
		<div class="responsive-menubar">
			<div class="res-logo"><a href="{% url 'home' %}" title=""><img src="{% static "images/logo.png" %}" alt="" /></a></div>
			<div class="menu-resaction">
				<div class="res-openmenu">
					<img src="{% static "images/icon.png" %}" alt="" /> Menu
				</div>
				<div class="res-closemenu">
					<img src="{% static "images/icon2.png" %}" alt="" /> Close
				</div>
			</div>
		</div>
		<div class="responsive-opensec">
			<div class="btn-extars">
				<a href="#" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
				<ul class="account-btns">
					<li class="signup-popup"><a title=""><i class="la la-key"></i> Sign Up</a></li>
					<li class="signin-popup"><a title=""><i class="la la-external-link-square"></i> Login</a></li>
				</ul>
			</div><!-- Btn Extras -->
			<form class="res-search">
				<input type="text" placeholder="Job title, keywords or company name" />
				<button type="submit"><i class="la la-search"></i></button>
			</form>
			<div class="responsivemenu">
				<ul>
						<li class="menu-item-has-children">
							<a href="#" title="">Life in Korea</a>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Employers</a>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Candidates</a>
						</li>
					</ul>
			</div>
		</div>
	</div>

	<header class="stick-top">
		<div class="menu-sec">
			<div class="container">
				<div class="logo">
					<a href="{% url 'home' %}" title=""><img class="hidesticky" src="{% static "images/logo.png" %}" alt="" /><img class="showsticky" src="{% static "images/logo.png" %}" alt="" /></a>
				</div><!-- Logo -->
				<div class="btn-extars">
					<ul class="account-btns">
						<li class="signup-popup"><a title="" href="{% url 'login_url' %}">Sign In</a></li>
					</ul>
				</div><!-- Btn Extras -->
				<nav>
					<ul>
						<li class="menu-item-has">
							<a href="{% url 'Job:list' %}" title="">Job</a>
						</li>
						<li class="menu-item-has">
							<a href="{% url 'how_it_works' %}" title="">How it works</a>
						</li>
						<li class="menu-item-has">
							<a href="{% url 'life_in_korea' %}" title="">Life in Korea</a>
						</li>
					</ul>
				</nav><!-- Menus -->
			</div>
		</div>
	</header>

	<section>
		<div class="block no-padding">
			<div class="container">
				 <div class="row no-gape">
				 	<div class="col-lg-12 column">
				 		<div class="padding-left">
					 		<div class="apply-title">
                                <h3>Applying for <strong>{{ Jobs.school_name }}</strong></h3>
					 			<div class="steps-sec apply-basic">
					 				<div class="step active">
					 					<p><i class="la la-info"></i></p>
					 					<span>Basic Profile</span>
					 				</div>
					 				<div class="step">
					 					<p><i class="la la-cc-mastercard"></i></p>
					 					<span>Detail</span>
					 				</div>
					 				<div class="step">
					 					<p><i class="la  la-check-circle"></i></p>
					 					<span>Review</span>
					 				</div>
					 			</div>

                                <div class="steps-sec apply-detail">
					 				<div class="step">
					 					<p><i class="la la-info"></i></p>
					 					<span>Basic Profile</span>
					 				</div>
					 				<div class="step active">
					 					<p><i class="la la-cc-mastercard"></i></p>
					 					<span>Detail</span>
					 				</div>
					 				<div class="step">
					 					<p><i class="la  la-check-circle"></i></p>
					 					<span>Review</span>
					 				</div>
					 			</div>

                                <div class="steps-sec apply-review">
					 				<div class="step">
					 					<p><i class="la la-info"></i></p>
					 					<span>Basic Profile</span>
					 				</div>
					 				<div class="step">
					 					<p><i class="la la-cc-mastercard"></i></p>
					 					<span>Detail</span>
					 				</div>
					 				<div class="step active">
					 					<p><i class="la  la-check-circle"></i></p>
					 					<span>Review</span>
					 				</div>
					 			</div>
					 		</div>

					 		<div class="profile-form-edit">
					 			<form method="post" action="" enctype="multipart/form-data"> {% csrf_token %}
					 				<div class="row apply-basic">
                                        <h3>Photo 1</h3>
                                        <div class="upload-img-bar">
                                            <span class="round"><img id="image_section" src="http://placehold.it/140x140" alt="" /></span>
                                            <div class="upload-info">
                                                <label for="id_profile_image1">Browse</label>
                                                <input type="file" name="profile_image1" required id="id_profile_image1" title="">
                                                <span>Max file size is 1MB, Minimum dimension: 270x210 And Suitable files are .jpg & .png</span>
                                            </div>
                                        </div>
                                        <h3>Photo 2</h3>
                                        <div class="upload-img-bar">
                                            <span class="round"><img id="image_section2" src="http://placehold.it/140x140" alt="" /></span>
                                            <div class="upload-info">
                                               <label for="id_profile_image2">Browse</label>
                                                <input type="file" name="profile_image2" required id="id_profile_image2" title="">
                                                <span>Max file size is 1MB, Minimum dimension: 270x210 And Suitable files are .jpg & .png</span>
                                            </div>
                                        </div>

					 					<div class="col-lg-6">
					 						<span class="ap-title">First Name</span>
					 						<div class="pf-field">
                                                <input type="text" name="first_name" maxlength="20" required="" id="id_first_name">
                                            </div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="ap-title">Last Name</span>
					 						<div class="pf-field">
                                                <input type="text" name="last_name" maxlength="10" required="" id="id_last_name">
                                            </div>
					 					</div>
                                        <div class="col-lg-6">
					 						<span class="ap-title">Email</span>
					 						<div class="pf-field">
                                                <input type="text" name="email" maxlength="25" required="" id="id_email">
                                            </div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="ap-title">Skype ID (for interviews)</span>
					 						<div class="pf-field">
                                                <input type="text" name="skyid" maxlength="25" required="" id="id_skyid">
                                            </div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="ap-title">Country of Citizenship</span>
					 						<div class="pf-field">
					 							<select name="country" required id="id_country" data-placeholder="Please Select Specialism" class="chosen">
													<option>USA</option>
													<option>Canada</option>
													<option>UK</option>
													<option>Ireland</option>
                                                    <option>South Africa</option>
                                                    <option>New Zealand</option>
                                                    <option>Australia</option>
												</select>
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="ap-title">Gender</span>
					 						<div class="pf-field">
					 							<select name="gender" id="id_gender" data-placeholder="Please Select Specialism" class="chosen">
													<option>Default</option>
													<option>Man</option>
													<option>Woman</option>
												</select>
					 						</div>
					 					</div>
                                        <div class="col-lg-6">
					 						<span class="ap-title">Current city/country of residence</span>
					 						<div class="pf-field">
                                                <input type="text" name="cur_residence" maxlength="30" required="" id="id_cur_residence">
                                            </div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="ap-title">Date of birth</span>
					 						<div class="pf-field">
                                                <input type="text" name="birth" maxlength="20" required="" id="id_birth">
                                            </div>
					 					</div>

					 					<div class="col-lg-12">
					 						<span class="ap-title"></span>
					 						<div class="pf-field">
                                                <p>"You must have a bachelor's degree from an accredited university in one of these 7 countries.</p>
                                                <p>(USA/Canada/UK/Ireland/South Africa/New Zealand/Australia</p>
					 						</div>
					 					</div>
					 					<div class="col-lg-12">
					 						<span class="ap-title">University / Major</span>
					 						<div class="pf-field">
                                                <input type="text" name="degree" maxlength="30" required="" id="id_degree">
                                            </div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="ap-title">Earliest available date</span>
					 						<div class="pf-field">
                                                <input type="text" name="start_date" required="" id="id_start_date">
                                            </div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="ap-title">Preferred age group</span>
					 						<div class="pf-field">
					 							<select name="prefer_class" id="id_prefer_class" data-placeholder="Please Select Specialism" class="chosen">
													<option>Kindergarten</option>
													<option>Elementary</option>
													<option>Middle</option>
												</select>
					 						</div>
					 					</div>
                                        <div class="col-lg-12">
					 						<button type="button" id="apply-detail"><o>Details  </o><i class="fa fa-caret-right right_arrow" aria-hidden="true"></i></button>
					 					</div>
					 				</div>

                                    <div class="row apply-detail">

                                        <h2>Resume</h2>
                                        <div class="upload-img-bar">
                                            <div class="upload-info">
                                                <label for="id_resume">Browse</label>
                                                <input type="file" name="resume" required="" id="id_resume">
                                                <p id="resume"></p>
                                            </div>
                                        </div>
                                        <h2>Cover Letter</h2>
                                        <div class="upload-img-bar">
                                            <div class="upload-info">
                                               <label for="id_letter">Browse</label>
                                                <input type="file" name="letter" required="" id="id_letter">
                                                <p id="letter"></p>
                                            </div>
                                        </div>

					 					<div class="col-lg-12 introduction-div">
					 						<span class="ap-title introduction-title">Personalized introduction for this position (Recommended)</span>
					 						<div class="pf-field introduction-detail">
                                                <textarea name="introduction" cols="30" rows="8" required="" id="id_introduction"></textarea>
                                            </div>
					 					</div>

                                        <div class="col-lg-12 button-div">
                                            <button type="button" id="apply-basic-back"><i class="fa fa-caret-left left_arrow" aria-hidden="true"></i><o>Profile  </o></button>
					 						<button type="button" id="apply-review-front"><o>Review  </o><i class="fa fa-caret-right right_arrow" aria-hidden="true"></i></button>
					 					</div>
					 				</div>

                                    <div class="row apply-review">
                                        <div class="photo">
                                             <div class="photo1">
                                                <h3>Photo 1</h3>
                                                <div class="upload-img-bar review-img">
                                                    <span class="round"><img id="image_section" src="http://placehold.it/140x140" alt="" /></span>
                                                    <div class="upload-info">
                                                    </div>
                                                </div>
                                             </div>
                                            <div class="photo2">
                                                <h3>Photo 2</h3>
                                                <div class="upload-img-bar review-img">
                                                    <span class="round"><img id="image_section2" src="http://placehold.it/140x140" alt="" /></span>
                                                    <div class="upload-info">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                        </div>
					 					<div class="col-lg-3">
					 						<span class="ap-title">First Name</span>
					 						<div class="pf-field">
                                                <p id="first_name"></p>
                                            </div>
					 					</div>
					 					<div class="col-lg-3">
					 						<span class="ap-title">Last Name</span>
					 						<div class="pf-field">
                                                <p id="last_name"></p>
                                            </div>
					 					</div>
                                        <div class="col-lg-3">
                                        </div>

                                        <div class="col-lg-3">
                                        </div>
                                        <div class="col-lg-3">
					 						<span class="ap-title">Email</span>
					 						<div class="pf-field">
                                                <p id="email"></p>
                                            </div>
					 					</div>
					 					<div class="col-lg-3">
					 						<span class="ap-title">Skype ID (for interviews)</span>
					 						<div class="pf-field">
                                                <p id="skyid"></p>
                                            </div>
					 					</div>
                                        <div class="col-lg-3">
                                        </div>

                                        <div class="col-lg-3">
                                        </div>
					 					<div class="col-lg-3">
					 						<span class="ap-title">Country of Citizenship</span>
					 						<div class="pf-field">
                                                <p id="country"></p>
					 						</div>
					 					</div>
					 					<div class="col-lg-3">
					 						<span class="ap-title">Gender</span>
					 						<div class="pf-field">
                                                <p id="gender"></p>
					 						</div>
					 					</div>
                                        <div class="col-lg-3">
                                        </div>

                                        <div class="col-lg-3">
                                        </div>
                                        <div class="col-lg-3">
					 						<span class="ap-title">Current city/country of residence</span>
					 						<div class="pf-field">
                                                <p id="residence"></p>
                                            </div>
					 					</div>
					 					<div class="col-lg-3">
					 						<span class="ap-title">Date of birth</span>
					 						<div class="pf-field">
                                                <p id="birth"></p>
                                            </div>
					 					</div>
                                        <div class="col-lg-3">
                                        </div>

                                        <div class="col-lg-3">
                                        </div>
					 					<div class="col-lg-6">
					 						<span class="ap-title">University / Major</span>
					 						<div class="pf-field">
                                                <p id="degree"></p>
                                            </div>
					 					</div>
                                        <div class="col-lg-3">
                                        </div>

                                        <div class="col-lg-3">
                                        </div>
					 					<div class="col-lg-3">
					 						<span class="ap-title">Earliest available date</span>
					 						<div class="pf-field">
                                                <p id="start_date"></p>
                                            </div>
					 					</div>
					 					<div class="col-lg-3">
					 						<span class="ap-title">Preferred age group</span>
					 						<div class="pf-field">
                                                <p id="prefer_age"></p>
					 						</div>
					 					</div>
                                        <div class="col-lg-3">
                                        </div>

                                        <div class="col-lg-3">
                                        </div>
                                        <div class="col-lg-6">
					 						<span class="resume ap-title resume-title">Resume</span>
                                            <div class="upload-img-bar">
                                                <div class="upload-info">
                                                    <p id="resume"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                        </div>

                                        <div class="col-lg-3">
                                        </div>
                                        <div class="col-lg-6">
					 						<span class="resume ap-title">Cover Letter</span>
                                            <div class="upload-img-bar">
                                                <div class="upload-info">
                                                    <p id="letter"></p>
                                                </div>
                                             </div>
                                        </div>
                                        <div class="col-lg-3">
                                        </div>

                                        <div id="user_job">
                                            <label for="id_user">User:</label> <select name="user" required="" id="id_user">
                                              <option value="{{ user_name.id }}" selected="selected"></option>
                                            </select>

                                            <label for="id_job">Job:</label> <select name="job" required="" id="id_job">
                                              <option value="{{ Jobs.id }}" selected="selected"></option>
                                            </select>
                                        </div>

                                        <div class="col-lg-12">
                                            <button type="button" id="apply-basic-back"><i class="fa fa-caret-left left_arrow" aria-hidden="true"></i><o>Details  </o></button>
					 						<button type="submit" id="apply-review-front"><o>Submit</o></button>
					 					</div>
					 				</div>
					 			</form>
					 		</div>
					 	</div>
					</div>
				 </div>
			</div>
		</div>
	</section>

	<footer>
		<div class="block block-foot">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 column">
						<div class="widget">
							<div class="about_widget">
								<div class="logo">
                                    <span>LOKA 101</span>
								</div>
								<span>Life in Korea</span>
								<span>Job Board</span>
								<span>Job-landing Rewards</span>
                                <span>SIM Service</span>
                                <span>Blog</span>

							</div><!-- About Widget -->
						</div>
					</div>

					<div class="col-lg-6 column">
						<div class="widget">
							<div class="download_widget">
                                <div class="footer-info">
                                    <p class="footer-info-title">Phone</p>
                                    <p class="footer-info-desc">*82-10-1234-5678</p>
                                </div>
                                <div class="footer-info">
                                    <p class="footer-info-title">Email</p>
                                    <p class="footer-info-desc">info@loka101.com</p>
                                </div>
                                <div class="footer-info">
                                    <p class="footer-info-title">Kakao</p>
                                    <p class="footer-info-desc">username</p>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-line">
            <div class="social">
                <a href="#" title=""><i class="fa fa-facebook"></i></a>
                <a href="#" title=""><i class="fa fa-twitter"></i></a>
                <a href="#" title=""><i class="fa fa-linkedin"></i></a>
                <a href="#" title=""><i class="fa fa-pinterest"></i></a>
                <a href="#" title=""><i class="fa fa-behance"></i></a>
            </div>
			<span>© 2018 Loka101 All rights reserved.</span>
			<a href="#scrollup" class="scrollup" title=""><i class="la la-arrow-up"></i></a>
		</div>
	</footer>

</div>



<script src="{% static "js/jquery.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/modernizr.js" %}" type="text/javascript"></script>
<script src="{% static "js/script.js" %}" type="text/javascript"></script>
<script src="{% static "js/wow.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/slick.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/parallax.js" %}" type="text/javascript"></script>
<script src="{% static "js/select-chosen.js" %}"  type="text/javascript"></script>
<script src="{% static "js/jquery.scrollbar.min.js" %}"  type="text/javascript"></script>
<script src="{% static "js/rslider.js" %}"  type="text/javascript"></script>

<script type="text/javascript">
    function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#image_section').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#id_profile_image1").change(function(){
    readURL(this);
});

    function readURL2(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#image_section2').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#id_profile_image2").change(function(){
    readURL2(this);
});

$('#apply-detail').click(function () {
    if($(".apply-detail").css("display") == "none"){
        $('.apply-detail').css("display", "block");
        $('.apply-basic').css("display", "none");
    } else {
        $('.apply-detail').css("display", "none");
    }
});

$('#apply-basic-back').click(function () {
    if($(".apply-basic").css("display") == "none"){
        $('.apply-basic').css("display", "flex");
        $('.apply-detail').css("display", "none");
    } else {
        $('.apply-basic').css("display", "none");
    }
});

$('#apply-review-front').click(function () {
    if($(".apply-review").css("display") == "none"){
        $('.apply-review').css("display", "flex");
        $('.apply-detail').css("display", "none");
    } else {
        $('.apply-review').css("display", "none");
    }
});

function findName1() {
    var fileValue = $("#id_letter").val().split("\\");
    var fileName = fileValue[fileValue.length-1];
    $('#letter').text(fileName);
}


$("#id_letter").change(function () {
    findName1();
})

function findName2() {
    var fileValue = $("#id_resume").val().split("\\");
    var fileName = fileValue[fileValue.length-1];
    $('#resume').text(fileName);
}


$("#id_resume").change(function () {
    findName2();
})



</script>




</body>
</html>

