<!DOCTYPE html>
<html>
<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KK2X9NL');</script>
    <!-- End Google Tag Manager -->

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>TeachingHoliday</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Cypress">

{% load staticfiles %}
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "favicon/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "favicon/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "favicon/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "favicon/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "favicon/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "favicon/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "favicon/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "favicon/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "favicon/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "favicon/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "favicon/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-grid.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/icons.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/animate.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/chosen.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/colors/colors.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{%  static "css/lightslider.css" %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KK2X9NL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page-loading">
	<img src="{% static "images/loader.gif" %}"  alt="" />
	<span>Skip Loader</span>
</div>

<div class="theme-layout" id="scrollup">

	<div class="responsive-header">
		<div class="responsive-menubar">
			<div class="res-logo"><a href="{% url 'home' %}" title=""><img src="{% static "images/logo.png" %}" alt="" /></a></div>
			<div class="menu-resaction">
				<div class="res-openmenu">
					<img src="{% static "images/icon.png" %}" alt="" /> Menu
				</div>
				<div class="res-closemenu">
					<img src="{% static "images/icon2.png" %}" alt="" /> Close
				</div>
			</div>
		</div>
		<div class="responsive-opensec">
			<div class="btn-extars">
                {% if user.is_active %}
                    {% if user.type == 'Employer' %}
                        <a href="{% url 'Job:upload' %}" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
                        <ul class="account-btns">
					        <li class="signup-popup"><a href="{% url 'employer_update' user.slug %}" title=""><i class="la la-key"></i> My Page</a></li>
					        <li class="signin-popup"><a href="{% url 'logout_url' %}" title=""><i class="la la-external-link-square"></i> Logout</a></li>
				        </ul>
                    {% else %}
                        <ul class="account-btns">
					        <li class="signup-popup"><a href="{% url 'user_update' user.slug %}" title=""><i class="la la-key"></i> My Page</a></li>
					        <li class="signin-popup"><a href="{% url 'logout_url' %}" title=""><i class="la la-external-link-square"></i> Logout</a></li>
				        </ul>
                    {% endif %}
                    {% else %}
                    <ul class="account-btns">
					    <li class="signup-popup"><a href="{% url 'register' %}" title=""><i class="la la-key"></i> Sign Up</a></li>
					    <li class="signin-popup"><a href="{% url 'login_url' %}" title=""><i class="la la-external-link-square"></i> Login</a></li>
				    </ul>
                {% endif %}

			</div><!-- Btn Extras -->

            <a href="{% url 'Job:list' %}" title="">Jobs</a>
            <a href="{% url 'how_it_works' %}" title="">How it works</a>
            <a href="{% url 'life_in_korea' %}" title="">Life in Korea</a>
            <a href="{% url 'qulification' %}" title="">Qualification</a>
		</div>
	</div>

	<header class="stick-top">
        <div class="menu-sec">
			<div class="container">
				<div class="logo">
					<a href="{% url 'home' %}" title=""><img class="hidesticky" src="{% static "images/logo.png" %}" alt="" /><img class="showsticky" src="{% static "images/logo.png" %}" alt="" /></a>
				</div><!-- Logo -->
				<div class="btn-extars">
					<ul class="account-btns">
                        {% if user.is_active %}
                            {% if user.type == "Employer" %}
                                <li class="signup-popup"><a title="" href="{% url 'employer_update' user.slug %}">My Page</a></li>
                                <li class="signup-popup"><a class="Acc2" href="{% url 'logout_url' %}">+ Post a new Job</a></li>
                            {% else %}
                                <li class="signup-popup"><a title="" href="{% url 'user_update' user.slug %}">My Page</a></li>
                                <li class="signup-popup"><a class="Acc2" href="{% url 'logout_url' %}">Log out</a></li>
                            {% endif %}
		                {% else %}
                            <li class="signup-popup"><a title="" href="{% url 'login_url' %}">Sign In</a></li>
                        {% endif %}
                    </ul>
				</div><!-- Btn Extras -->
				<nav>
					<ul>
						<li class="menu-item-has">
							<a href="{% url 'Job:list' %}" title="">Jobs</a>
						</li>
						<li class="menu-item-has">
							<a href="{% url 'how_it_works' %}" title="">How it works</a>
						</li>
						<li class="menu-item-has">
							<a href="{% url 'life_in_korea' %}" title="">Life in Korea</a>
						</li>
                        <li class="menu-item-has">
							<a href="{% url 'qulification' %}" title="">Qualification</a>
						</li>
					</ul>
				</nav><!-- Menus -->
			</div>
		</div>
	</header>

	<section class="overlape">
		<div class="block no-padding">
			<div data-velocity="-.1" style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner-header my-page">
							<h3>Welcome Recruiter!</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block no-padding">
			<div class="container">
				 <div class="row no-gape">
				 	<aside class="col-lg-3 column border-right">
				 		<div class="widget">
				 			<div class="tree_widget-sec">
				 				<ul>
				 					<li class="inner-child active">
				 						<a href="{% url 'employer_update' user.slug %}" title=""><i class="la la-file-text"></i>Agency Info</a>
				 						<ul>
				 							<li><a href="#mp" title="">Profile photo</a></li>
				 							<li><a href="#" title="">Basic Info</a></li>
				 							<li><a href="#sn" title="">Introduction</a></li>
				 						</ul>
				 					</li>
				 					<li>
				 						<a href="{% url 'Job:user_overview' user.slug %}" title=""><i class="la la-briefcase"></i>Jobs overview</a>
				 					</li>
                                    <li>
				 						<a href="{% url 'Job:applicant_list' user.slug %}" title=""><i class="far fa-address-card"></i>Applicants list</a>
				 					</li>
				 				<!--	<li class="inner-child">
				 						<a href="#" title=""><i class="far fa-user"></i>Account Info</a>
				 					</li>-->
                                    <li><a href="{% url 'Job:upload' %}"><i class="far fa-plus-square"></i>Post a new Job</a></li>
				 				</ul>
				 			</div>
				 		</div>
				 	</aside>
				 	<div class="col-lg-9 column">
				 		<div class="padding-left">
                            <form method="post" enctype="multipart/form-data" action=""> {% csrf_token %}
					 		<div class="profile-title" id="mp">
					 			<h3>Profile Photo</h3>
                                    <p>Thumbnail</p>
                                    <div class="upload-img-bar">
                                        {% if user_name.user_pic1 %}
                                        <span class="round"><img id="image_section" src="{{ user_name.user_pic1.url }}" alt="" /></span>
                                        {% else %}
                                        <span class="round"><img id="image_section" src="http://placehold.it/140x140" alt="" /></span>
                                        {% endif %}
                                        <div class="upload-info">
                                            {% if user_name.user_pic1 %}
                                            <input type="checkbox" name="user_pic1-clear" id="user_pic1-clear_id">
                                            <label id="user_pic1-clear_label" for="user_pic1-clear_id">Clear</label>
                                            <label class="id_user_pic1" for="id_user_pic1">Browse</label>
                                            <input type="file" name="user_pic1" id="id_user_pic1" title="">
                                            <a target="_blank" href="{{ user_name.user_pic1.url }}">{{ user_name.user_pic1 }}</a>
                                            {% else %}
                                            <label class="id_user_pic1" for="id_user_pic1">Browse</label>
                                            <input type="file" name="user_pic1" id="id_user_pic1" title="">
                                            {% endif %}
                                            <span>Max file size is 1MB, Minimum dimension: 270x210 And Suitable files are .jpg & .png</span>
                                        </div>
                                    </div>
					 		</div>
					 		<div class="profile-form-edit">
                                <h3>Basic Info</h3>
                                <div>
					 				<div class="row">
					 					<div class="col-lg-6">
					 						<span class="pf-title">Agency Name</span>
					 						<div class="pf-field">
                                                {% if user_name.agency_name %}
                                                <input type="text" name="first_name" maxlength="20" value="{{ user_name.agency_name }}" required="" id="id_first_name">
                                                {% else %}
                                                <input type="text" name="first_name" maxlength="20" required="" id="id_first_name">
                                                {% endif %}
                                            </div>
					 					</div>
                                        <div class="col-lg-6">
					 						<span class="pf-title">City / Location Name</span>
					 						<div class="pf-field">
                                                {% if user_name.cur_residence %}
                                                <input type="text" name="last_name" maxlength="10" value="{{ user_name.cur_residence }}" required="" id="id_last_name">
                                                {% else %}
                                                <input type="text" name="last_name" maxlength="10" required="" id="id_last_name">
                                                {% endif %}
                                            </div>
					 					</div>
                                        <div class="col-lg-6">
					 						<span class="pf-title">Name</span>
					 						<div class="pf-field">
                                                <input type="text" name="name" required="" maxlength="30" id="id_name">
                                            </div>
					 					</div>
                                        <div class="col-lg-6">
					 						<span class="pf-title">phone</span>
					 						<div class="pf-field">
                                                {% if user_name.phone %}
                                                <input type="text" name="phone" value="{{ user_name.phone }}" maxlength="18"  id="id_phone">
                                                {% else %}
                                                <input type="text" name="phone" maxlength="18"  id="id_phone">
                                                {% endif %}
                                            </div>
					 					</div>
					 				</div>
                                </div>
					 		</div>
					 		<div class="contact-edit"  id="sn">
					 			<h3>Introduction</h3>
					 			<div id="employer_introduction">
					 				<div class="row">
					 					<p>Introduction</p>
                                        <div class="upload-img-bar">
                                            <div class="update-info" id="employer_introduction">
                                                <textarea name="introduction" required="" cols="40" rows="10" id="id_introduction"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
					 						<button id="update" type="submit">Update</button>
					 					</div>
					 				</div>
					 			</div>
					 		</div>
                            </form>
					 	</div>
					</div>
				 </div>
			</div>
		</div>
	</section>

	<footer>
		<div class="block block-foot">
			<div class="container">
				<div class="row">
					<div class="col-md-6 column">
						<div class="widget">
							<div class="about_widget">
								<div class="logo">
                                    <span>Teaching Holiday</span>
								</div>
                                <span><a href="{% url 'Job:list' %}">Job Board</a></span>
                                <span><a href="https://www.lokamobile.com/">SIM Service</a></span>
                                <span><a href="http://www.loka101.com/home/">Blog</a></span>

							</div><!-- About Widget -->
						</div>
					</div>

					<div class="col-md-6 column">
						<div class="widget">
							<div class="download_widget">
                                <div class="footer-info">
                                    <p class="footer-info-title">Email</p>
                                    <p class="footer-info-desc">help@loka101.com</p>
                                </div>
                                <div class="footer-info">
                                    <p class="footer-info-title">Kakao</p>
                                    <p class="footer-info-desc">loka101</p>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-line">
            <div class="social">
                <a href="#" title=""><i class="fa fa-facebook"></i></a>
                <a href="#" title=""><i class="fa fa-linkedin"></i></a>
            </div>
			<span>© 2018 Loka101 All rights reserved.</span>
			<a href="#scrollup" class="scrollup" title=""><i class="la la-arrow-up"></i></a>
		</div>
	</footer>

</div>

<script src="{% static "js/jquery.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/modernizr.js" %}" type="text/javascript"></script>
<script src="{% static "js/script.js" %}" type="text/javascript"></script>
<script src="{% static "js/wow.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/slick.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/parallax.js" %}" type="text/javascript"></script>
<script src="{% static "js/select-chosen.js" %}"  type="text/javascript"></script>

<script>
    function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#image_section').attr('src', e.target.result);
            $('#image_section_review').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#id_user_pic1").change(function(){

            var fileSize = document.getElementById("id_user_pic1").files[0].size;
            var maxSize = 3 * 1024 * 1024;//2MB

            if (fileSize > maxSize) {
                alert("Your second image file should be under 3MB.");
                doc.getElementById('id_user_pic1').focus();
                return;
            }
            else{
                readURL(this);
            }

});


        var doc = document;
    var detail = doc.getElementById('update');

    var func = function () {
        var userimage1 = doc.getElementById('image_section').src;
        var userfirst = doc.getElementById('id_first_name').value;
        var userlast = doc.getElementById('id_last_name').value;
        //1. 입력이 다 됐나 확인

        if(userimage1=="http://placehold.it/140x140"){
            alert('Put your first profile image');
            doc.getElementById('id_profile_image1').focus();
            return;
            //다시 원상태로 돌아가는것.
        }
        if(!userfirst){
            alert('Put your first name');
            doc.getElementById('id_first_name').focus();
            return;
        }
        if(!userlast){
            alert('Put your last name');
            doc.getElementById('id_last_name').focus();
            return;
        }
    }

    detail.addEventListener('click',func);

</script>


</body>
</html>

