<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Jobhunt</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="CreativeLayers">
{% load staticfiles %}

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-grid.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/icons.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/animate.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/chosen.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/colors/colors.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{%  static "css/lightslider.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{%  static "css/home.css" %}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>

<div class="page-loading">
	<img src="{% static "images/loader.gif" %}"  alt="" />
	<span>Skip Loader</span>
</div>

<div class="theme-layout" id="scrollup">
	
	<div class="responsive-header">
		<div class="responsive-menubar">
			<div class="res-logo"><a href="index.html" title=""><img src="http://placehold.it/178x40" alt="" /></a></div>
			<div class="menu-resaction">
				<div class="res-openmenu">
					<img src="{% static "images/icon.png" %}" alt="" /> Menu
				</div>
				<div class="res-closemenu">
					<img src="{% static "images/icon2.png" %}" alt="" /> Close
				</div>
			</div>
		</div>
		<div class="responsive-opensec">
			<div class="btn-extars">
				<a href="#" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
				<ul class="account-btns">
					<li class="signup-popup"><a title=""><i class="la la-key"></i> Sign Up</a></li>
					<li class="signin-popup"><a title=""><i class="la la-external-link-square"></i> Login</a></li>
				</ul>
			</div><!-- Btn Extras -->
			<form class="res-search">
				<input type="text" placeholder="Job title, keywords or company name" />
				<button type="submit"><i class="la la-search"></i></button>
			</form>
			<div class="responsivemenu">
				<ul>
						<li class="menu-item-has-children">
							<a href="#" title="">Life in Korea</a>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Employers</a>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Candidates</a>
						</li>
					</ul>
			</div>
		</div>
	</div>
	
	<header class="stick-top forsticky">
		<div class="menu-sec">
			<div class="container">
				<div class="logo">
					<a href="index.html" title=""><img class="hidesticky" src="http://placehold.it/178x40" alt="" /><img class="showsticky" src="http://placehold.it/178x40" alt="" /></a>
				</div><!-- Logo -->
				<div class="btn-extars">
					<ul class="account-btns">
						<li class="signup-popup"><a title="" href="{% url 'login_url' %}">Sign In</a></li>
					</ul>
				</div><!-- Btn Extras -->
				<nav>
					<ul>
						<li class="menu-item-has">
							<a href="{% url 'Job:list' %}" title="">Job</a>
						</li>
						<li class="menu-item-has">
							<a href="#" title="">How it works</a>
						</li>
						<li class="menu-item-has">
							<a href="#" title="">Life in Korea</a>
						</li>
					</ul>
				</nav><!-- Menus -->
			</div>
		</div>
	</header>

	<section>
		<div class="block no-padding">
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="main-featured-sec">
							<ul class="main-slider-sec text-arrows">
								<li class="slideHome"><img src="{% static "images/PIC1.png" %}" alt="" /></li>
								<li class="slideHome"><img src="{% static "images/PIC1.png" %}" alt="" /></li>
								<li class="slideHome"><img src="{% static "images/PIC1.png" %}" alt="" /></li>
							</ul>
							<div class="job-search-sec">
								<div class="job-search">
									<h3>Teaching Abroad Made Easy</h3>
									<span>Moving to a new place can be tough, let alone finding a job in a whole new country. Loka is here for you as a friend, to help you from finding a job, to settling in like a local.</span>

									<div class="or-browser">
										<a href="#" title="">See how it works</a>
                                        <a href="#" title="">View all Jobs</a>
									</div>
								</div>
							</div>
							<div class="scroll-to">
								<a href="#scroll-here" title=""><i class="la la-arrow-down"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="scroll-here">
		<div class="block">
			<div class="container">
				<div class="row">

					<div class="col-lg-12">

						<div class="heading">

							<h2>Find one of 328 jobs in Korea</h2>
							<span>Apply now and work in these beautiful cities</span>

						</div><!-- Heading -->



					</div>
                        <div class="demo">
                                <div class="item">
                                    <ul id="content-slider" class="content-slider">
                                        <li>
                                            <h3>1</h3>
                                        </li>
                                        <li>
                                            <h3>2</h3>
                                        </li>
                                        <li>
                                            <h3>3</h3>
                                        </li>
                                        <li>
                                            <h3>4</h3>
                                        </li>
                                        <li>
                                            <h3>5</h3>
                                        </li>
                                        <li>
                                            <h3>6</h3>
                                        </li>
                                    </ul>
                                </div>
                            </div>
					<div class="col-lg-12">
						<div class="browse-all-cat">
							<a href="#" title="">View all Jobs</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block manual-block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading">
							<h2>So quick, So easy, So good</h2>
							<span>Teaching Holidays Guarantees</span>
						</div><!-- Heading -->

                        <div class="manual">
                            <div class="job-listings-sec">
						    	<div class="job-listing">
                                    <div class="job-title-sec">
                                        <div class="c-logo"> <img src="{% static "images/tickmark.svg" %}" alt="" /> </div>
                                        <h3><a href="#" title="">Job Matching</a></h3>
                                    </div>
							    </div><!-- Job -->
                                <div class="job-listing">
                                    <div class="job-title-sec">
                                        <div class="c-logo"> <img src="{% static "images/tickmark.svg" %}" alt="" /> </div>
                                        <h3><a href="#" title="">Visas</a></h3>
                                    </div>
							    </div><!-- Job -->
                                <div class="job-listing">
                                    <div class="job-title-sec">
                                        <div class="c-logo"> <img src="{% static "images/tickmark.svg" %}" alt="" /> </div>
                                        <h3><a href="#" title="">Flights</a></h3>
                                    </div>
							    </div><!-- Job -->
                                <div class="job-listing">
                                    <div class="job-title-sec">
                                        <div class="c-logo"> <img src="{% static "images/tickmark.svg" %}" alt="" /> </div>
                                        <h3><a href="#" title="">Convenience service</a></h3>
                                    </div>
							    </div><!-- Job -->
                                <div class="job-listing">
                                    <div class="job-title-sec">
                                        <div class="c-logo"> <img src="{% static "images/tickmark.svg" %}" alt="" /> </div>
                                        <h3><a href="#" title="">Job landing bonus</a></h3>
                                    </div>
							    </div><!-- Job -->
                            </div>
                            <div class="manual_des">
                                <p>Quick Summary-Description on now it works, and why LOKA is better than all the competitors. (Quick process, intuitive job board, transparent service etc.) How it can meet the needs of everyone, whether someone's planning to stay for just a year, or much longer, want to live in the city, or in the skirts of the suburbs and yadee yadhadhd, Some more descriptions that hive a general insight on LOKA service in general</p>
                            </div>
                        </div>

					</div>
					<div class="col-lg-12">
						<div class="browse-all-cat">
							<a href="#" title="">Load more listings</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block">
			<div data-velocity="-.1" style="background: url(http://placehold.it/1920x1000) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible layer color light"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading light">
							<h2>What our customers say define what we do</h2>
						</div><!-- Heading -->
						<div class="reviews-sec" id="reviews-carousel">
							<div class="col-lg-6">
								<div class="reviews">
									<img src="http://placehold.it/101x101" alt="" />
									<h3>Augusta Silva <span>Web designer</span></h3>
									<p>Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything!  Can’t quite believe the service</p>
								</div><!-- Reviews -->
							</div>
							<div class="col-lg-6">
								<div class="reviews">
									<img src="http://placehold.it/101x101" alt="" />
									<h3>Ali Tufan <span>Web designer</span></h3>
									<p>Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything!  Can’t quite believe the service</p>
								</div><!-- Reviews -->
							</div>
							<div class="col-lg-6">
								<div class="reviews">
									<img src="http://placehold.it/101x101" alt="" />
									<h3>Augusta Silva <span>Web designer</span></h3>
									<p>Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything!  Can’t quite believe the service</p>
								</div><!-- Reviews -->
							</div>
							<div class="col-lg-6">
								<div class="reviews">
									<img src="http://placehold.it/101x101" alt="" />
									<h3>Ali Tufan <span>Web designer</span></h3>
									<p>Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything!  Can’t quite believe the service</p>
								</div><!-- Reviews -->
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</section>

	<footer>
		<div class="block block-foot">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 column">
						<div class="widget">
							<div class="about_widget">
								<div class="logo">
                                    <span>LOKA 101</span>
								</div>
								<span>Life in Korea</span>
								<span>Job Board</span>
								<span>Job-landing Rewards</span>
                                <span>SIM Service</span>
                                <span>Blog</span>

							</div><!-- About Widget -->
						</div>
					</div>

					<div class="col-lg-6 column">
						<div class="widget">
							<div class="download_widget">
                                <div class="footer-info">
                                    <p class="footer-info-title">Phone</p>
                                    <p class="footer-info-desc">*82-10-1234-5678</p>
                                </div>
                                <div class="footer-info">
                                    <p class="footer-info-title">Email</p>
                                    <p class="footer-info-desc">info@loka101.com</p>
                                </div>
                                <div class="footer-info">
                                    <p class="footer-info-title">Kakao</p>
                                    <p class="footer-info-desc">username</p>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-line">
            <div class="social">
                <a href="#" title=""><i class="fa fa-facebook"></i></a>
                <a href="#" title=""><i class="fa fa-twitter"></i></a>
                <a href="#" title=""><i class="fa fa-linkedin"></i></a>
                <a href="#" title=""><i class="fa fa-pinterest"></i></a>
                <a href="#" title=""><i class="fa fa-behance"></i></a>
            </div>
			<span>© 2018 Loka101 All rights reserved.</span>
			<a href="#scrollup" class="scrollup" title=""><i class="la la-arrow-up"></i></a>
		</div>
	</footer>

</div>


<script src="{% static "js/jquery.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/modernizr.js" %}" type="text/javascript"></script>
<script src="{% static "js/script.js" %}" type="text/javascript"></script>
<script src="{% static "js/wow.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/slick.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/parallax.js" %}" type="text/javascript"></script>
<script src="{% static "js/select-chosen.js" %}"  type="text/javascript"></script>
<script src="{% static "js/lightslider.js" %}"  type="text/javascript"></script>

<script>
    	 $(document).ready(function() {
			$("#content-slider").lightSlider({
                loop:true,
              	auto:true,
                keyPress:true
            });
            $('#image-gallery').lightSlider({
                gallery:true,
                item:1,
                thumbItem:9,
                slideMargin: 0,
                speed:500,
                auto:true,
                loop:true,
                onSliderLoad: function() {
                    $('#image-gallery').removeClass('cS-hidden');
                }
            });
		});
    </script>
</body>
</html>

