<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Jobhunt</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="CreativeLayers">
{% load staticfiles %}

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-grid.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/icons.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/animate.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/chosen.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/colors/colors.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{%  static "css/lightslider.css" %}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

</head>
<body>

<div class="page-loading">
	<img src="{% static "images/loader.gif" %}"  alt="" />
	<span>Skip Loader</span>
</div>

<div class="theme-layout" id="scrollup">


	<div class="responsive-header">
		<div class="responsive-menubar">
			<div class="res-logo"><a href="{% url 'home' %}" title=""><img src="{% static "images/logo.png" %}" alt="" /></a></div>
			<div class="menu-resaction">
				<div class="res-openmenu">
					<img src="{% static "images/icon.png" %}" alt="" /> Menu
				</div>
				<div class="res-closemenu">
					<img src="{% static "images/icon2.png" %}" alt="" /> Close
				</div>
			</div>
		</div>
		<div class="responsive-opensec">
			<div class="btn-extars">
                {% if user.is_active %}
                    {% if user.type == 'Employer' %}
                        <a href="{% url 'Job:upload' %}" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
                        <ul class="account-btns">
					        <li class="signup-popup"><a href="{% url 'employer_update' user.pk %}" title=""><i class="la la-key"></i> My Page</a></li>
					        <li class="signin-popup"><a href="{% url 'logout_url' %}" title=""><i class="la la-external-link-square"></i> Logout</a></li>
				        </ul>
                    {% else %}
                        <ul class="account-btns">
					        <li class="signup-popup"><a href="{% url 'user_update' user.pk %}" title=""><i class="la la-key"></i> My Page</a></li>
					        <li class="signin-popup"><a href="{% url 'logout_url' %}" title=""><i class="la la-external-link-square"></i> Logout</a></li>
				        </ul>
                    {% endif %}
                    {% else %}
                    <ul class="account-btns">
					    <li class="signup-popup"><a href="{% url 'register' %}" title=""><i class="la la-key"></i> Sign Up</a></li>
					    <li class="signin-popup"><a href="{% url 'login_url' %}" title=""><i class="la la-external-link-square"></i> Login</a></li>
				    </ul>
                {% endif %}

			</div><!-- Btn Extras -->

            <a href="{% url 'Job:list' %}" title="">Jobs</a>
            <a href="{% url 'how_it_works' %}" title="">How it works</a>
            <a href="{% url 'life_in_korea' %}" title="">Life in Korea</a>
		</div>
	</div>


	<header class="stick-top">
		<div class="menu-sec">
			<div class="container">
                <div class="logo">
					<a href="{% url 'home' %}" title=""><img class="hidesticky" src="{% static "images/logo.png" %}" alt="" /><img class="showsticky" src="{% static "images/logo.png" %}" alt="" /></a>
				</div><!-- Logo -->
				<div class="btn-extars">
					<ul class="account-btns">
                        {% if user.is_active %}
                            {% if user.type == "Employer" %}
                                <li class="signup-popup"><a title="" href="{% url 'employer_update' user.pk %}">My Page</a></li>
                                <li class="signup-popup"><a class="Acc2" href="{% url 'logout_url' %}">+ Post a new Job</a></li>
                            {% else %}
                                <li class="signup-popup"><a title="" href="{% url 'user_update' user.pk %}">My Page</a></li>
                                <li class="signup-popup"><a class="Acc2" href="{% url 'logout_url' %}">Log out</a></li>
                            {% endif %}
		                {% else %}
                            <li class="signup-popup"><a title="" href="{% url 'login_url' %}">Sign In</a></li>
                        {% endif %}
                    </ul>
				</div><!-- Btn Extras -->
				<nav>
					<ul>
						<li class="menu-item-has">
							<a href="{% url 'Job:list' %}" title="">Job</a>
						</li>
						<li class="menu-item-has">
							<a href="{% url 'how_it_works' %}" title="">How it works</a>
						</li>
						<li class="menu-item-has">
							<a href="{% url 'life_in_korea' %}" title="">Life in Korea</a>
						</li>
					</ul>
				</nav><!-- Menus -->
			</div>
		</div>
	</header>

	<section id="works_section">
		<div class="block no-padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner2">
                            <h3>Finding a job has never been this simple </h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

    <section>
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner2">
                            <h1>The Process</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<section>
		<div class="block ">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="how-works">
							<div class="how-workimg"><img src="{% static 'images/browse.png' %}" alt="" /></div>
							<div class="how-work-detail">
								<div class="how-work-box">
									<span>1</span>
									<i class="la la-user"></i>
									<h3>Explore and find your perfect match</h3>
									<p>We paired up with the best recruiters in the industry that offer reliable and satisfactory jobs. Our jobs cover housing, visas, flights, and many other benefits in all over Korea. explore different options and choose the best match.</p>
								</div>
							</div>
						</div>
						<div class="how-works flip">
							<div class="how-workimg"><img src="{% static 'images/apply.png' %}" alt="" /></div>
							<div class="how-work-detail">
								<div class="how-work-box">
									<span>2</span>
									<i class="la la-file-text"></i>
									<h3>Simplest application yet</h3>
									<p>Loka uses common application. With Loka, you only need to fill out your basic profile once, which you can use it for every position you apply for. Say goodbye to nightmares of repeating your application every time.</p>
								</div>
							</div>
						</div>
						<div class="how-works">
							<div class="how-workimg"><img src="{% static 'images/interview.jpg' %}" alt="" /></div>
							<div class="how-work-detail">
								<div class="how-work-box">
									<span>3</span>
									<i class="la la-pencil"></i>
									<h3>Get connected with the recruiter</h3>
									<p>Once recruiters accept your application, you will be connected via the contact information you provided in the application. The recruiters will conduct further interviews if they see a potential match.</p>
								</div>
							</div>
						</div>
                        <div class="how-works flip">
							<div class="how-workimg"><img src="{% static 'images/documnets.jpg' %}" alt="" /></div>
							<div class="how-work-detail">
								<div class="how-work-box">
									<span>4</span>
									<i class="la la-file-text"></i>
									<h3>Prepare the documents</h3>
                                    <p>Congratulations on the offer! Loka is here to smooth out the process. Check out our <strong>documents</strong> checklist and details to sail your way to Korea</p>
								</div>
							</div>
						</div>
                        <div class="how-works">
							<div class="how-workimg"><img src="{% static 'images/moving.jpg' %}" alt="" /></div>
							<div class="how-work-detail">
								<div class="how-work-box">
									<span>5</span>
									<i class="la la-pencil"></i>
									<h3>Accept the offer and move in!</h3>
									<p>You're all set. All you need to do is pack your stuffs and move in to your new home. I know moving to a whole new country can be very overwhelming, so Loka is here to help.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

        <section>
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner2">
                            <h1>Document</h1>
                            <p>Please see our <strong>Blog Post</strong> on how to prepare your Visa and Immigration documents</p>
                        </div>
                        <img src="">
                    </div>
                </div>
            </div>
        </div>
    </section>

	<footer>
		<div class="block block-foot">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 column">
						<div class="widget">
							<div class="about_widget">
								<div class="logo">
                                    <span>LOKA 101</span>
								</div>
								<span>Life in Korea</span>
								<span>Job Board</span>
								<span>Job-landing Rewards</span>
                                <span>SIM Service</span>
                                <span>Blog</span>

							</div><!-- About Widget -->
						</div>
					</div>

					<div class="col-lg-6 column">
						<div class="widget">
							<div class="download_widget">
                                <div class="footer-info">
                                    <p class="footer-info-title">Phone</p>
                                    <p class="footer-info-desc">*82-10-1234-5678</p>
                                </div>
                                <div class="footer-info">
                                    <p class="footer-info-title">Email</p>
                                    <p class="footer-info-desc">info@loka101.com</p>
                                </div>
                                <div class="footer-info">
                                    <p class="footer-info-title">Kakao</p>
                                    <p class="footer-info-desc">username</p>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-line">
            <div class="social">
                <a href="#" title=""><i class="fa fa-facebook"></i></a>
                <a href="#" title=""><i class="fa fa-twitter"></i></a>
                <a href="#" title=""><i class="fa fa-linkedin"></i></a>
                <a href="#" title=""><i class="fa fa-pinterest"></i></a>
                <a href="#" title=""><i class="fa fa-behance"></i></a>
            </div>
			<span>© 2018 Loka101 All rights reserved.</span>
			<a href="#scrollup" class="scrollup" title=""><i class="la la-arrow-up"></i></a>
		</div>
	</footer>

</div>

<script src="{% static "js/jquery.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/modernizr.js" %}" type="text/javascript"></script>
<script src="{% static "js/script.js" %}" type="text/javascript"></script>
<script src="{% static "js/wow.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/slick.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/parallax.js" %}" type="text/javascript"></script>
<script src="{% static "js/select-chosen.js" %}"  type="text/javascript"></script>

</body>
</html>

