<!DOCTYPE html>
<html>
<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KK2X9NL');</script>
    <!-- End Google Tag Manager -->

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>TeachingHoliday</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Cypress">

{% load staticfiles %}
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "favicon/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "favicon/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "favicon/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "favicon/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "favicon/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "favicon/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "favicon/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "favicon/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "favicon/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "favicon/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "favicon/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-grid.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/icons.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/animate.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/chosen.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/colors/colors.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{%  static "css/lightslider.css" %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KK2X9NL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="page-loading">
	<img src="{% static "images/loader.gif" %}"  alt="" />
	<span>Skip Loader</span>
</div>

<div class="theme-layout" id="scrollup">

	<div class="responsive-header">
		<div class="responsive-menubar">
			<div class="res-logo"><a href="{% url 'home' %}" title=""><img src="{% static "images/logo.png" %}" alt="" /></a></div>
			<div class="menu-resaction">
				<div class="res-openmenu">
					<img src="{% static "images/icon.png" %}" alt="" /> Menu
				</div>
				<div class="res-closemenu">
					<img src="{% static "images/icon2.png" %}" alt="" /> Close
				</div>
			</div>
		</div>
		<div class="responsive-opensec">
			<div class="btn-extars">
                {% if user.is_active %}
                    {% if user.type == 'Employer' %}
                        <a href="{% url 'Job:upload' %}" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
                        <ul class="account-btns">
					        <li class="signup-popup"><a href="{% url 'employer_update' user.slug %}" title=""><i class="la la-key"></i> My Page</a></li>
					        <li class="signin-popup"><a href="{% url 'logout_url' %}" title=""><i class="la la-external-link-square"></i> Logout</a></li>
				        </ul>
                    {% else %}
                        <ul class="account-btns">
					        <li class="signup-popup"><a href="{% url 'user_update' user.slug %}" title=""><i class="la la-key"></i> My Page</a></li>
					        <li class="signin-popup"><a href="{% url 'logout_url' %}" title=""><i class="la la-external-link-square"></i> Logout</a></li>
				        </ul>
                    {% endif %}
                    {% else %}
                    <ul class="account-btns">
					    <li class="signup-popup"><a href="{% url 'register' %}" title=""><i class="la la-key"></i> Sign Up</a></li>
					    <li class="signin-popup"><a href="{% url 'login_url' %}" title=""><i class="la la-external-link-square"></i> Login</a></li>
				    </ul>
                {% endif %}

			</div><!-- Btn Extras -->

            <a href="{% url 'Job:list' %}" title="">Jobs</a>
            <a href="{% url 'how_it_works' %}" title="">How it works</a>
            <a href="{% url 'life_in_korea' %}" title="">Life in Korea</a>
            <a href="{% url 'qulification' %}" title="">Qualification</a>
		</div>
	</div>

	<header class="stick-top">
        <div class="menu-sec">
			<div class="container">
				<div class="logo">
					<a href="{% url 'home' %}" title=""><img class="hidesticky" src="{% static "images/logo.png" %}" alt="" /><img class="showsticky" src="{% static "images/logo.png" %}" alt="" /></a>
				</div><!-- Logo -->
				<div class="btn-extars">
					<ul class="account-btns">
                        {% if user.is_active %}
                            {% if user.type == "Employer" %}
                                <li class="signup-popup"><a title="" href="{% url 'employer_update' user.slug %}">My Page</a></li>
                                <li class="signup-popup"><a class="Acc2" href="{% url 'logout_url' %}">+ Post a new Job</a></li>
                            {% else %}
                                <li class="signup-popup"><a title="" href="{% url 'user_update' user.slug %}">My Page</a></li>
                                <li class="signup-popup"><a class="Acc2" href="{% url 'logout_url' %}">Log out</a></li>
                            {% endif %}
		                {% else %}
                            <li class="signup-popup"><a title="" href="{% url 'login_url' %}">Sign In</a></li>
                        {% endif %}
                    </ul>
				</div><!-- Btn Extras -->
				<nav>
					<ul>
						<li class="menu-item-has">
							<a href="{% url 'Job:list' %}" title="">Jobs</a>
						</li>
						<li class="menu-item-has">
							<a href="{% url 'how_it_works' %}" title="">How it works</a>
						</li>
						<li class="menu-item-has">
							<a href="{% url 'life_in_korea' %}" title="">Life in Korea</a>
						</li>
                        <li class="menu-item-has">
							<a href="{% url 'qulification' %}" title="">Qualification</a>
						</li>
					</ul>
				</nav><!-- Menus -->
			</div>
		</div>
	</header>

	<section class="overlape">
		<div class="block no-padding">
			<div data-velocity="-.1" style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner-header my-page" id="my-page">
							<h3>Welcome {{ user.name }}</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block no-padding">
			<div class="container">
				 <div class="row no-gape">
				 	<aside class="col-lg-3 column border-right">
				 		<div class="widget">
				 			<div class="tree_widget-sec">
				 				<ul>
				 					<li class="inner-child active">
				 						<a href="{% url 'user_update' user.slug %}" title=""><i class="la la-file-text"></i>Applicant Info</a>
				 						<ul>
				 							<li><a href="#mp" title="">Profile photo</a></li>
				 							<li><a href="#" title="">Basic Info</a></li>
				 							<li><a href="#sn" title="">Resume</a></li>
                                            <li><a href="#ci" title="">University</a></li>
				 						</ul>
				 					</li>
				 					<li><a href="{% url 'Job:user_history' user.slug %}" title=""><i class="la la-briefcase"></i>Application History</a></li>
				 					<!--<li class="inner-child">
				 						<a href="#" title=""><i class="far fa-user"></i>Account Info</a>
				 					</li>-->

				 					<li><a href="{% url 'logout_url' %}" title=""><i class="la la-unlink"></i>Logout</a></li>
				 				</ul>
				 			</div>
				 		</div>
				 	</aside>
				 	<div class="col-lg-9 column">
				 		<div class="padding-left">
                            <form method="post" enctype="multipart/form-data" action=""> {% csrf_token %}
					 		<div class="profile-title" id="mp">
					 			<h3>Profile Photo</h3>
                                    <p>Photo 1</p>
                                    <div class="upload-img-bar">
                                        {% if user_name.user_pic1 %}
                                        <span class="round"><img id="image_section" src="{{ user_name.user_pic1.url }}" alt="" /></span>
                                        {% else %}
                                        <span class="round"><img id="image_section" src="http://placehold.it/140x140" alt="" /></span>
                                        {% endif %}
                                        <div class="upload-info">
                                            {% if user_name.user_pic1 %}
                                            <input type="checkbox" name="user_pic1-clear" id="user_pic1-clear_id">
                                            <label id="user_pic1-clear_label" for="user_pic1-clear_id">Clear</label>
                                            <label class="id_user_pic1" for="id_user_pic1">Browse</label>
                                            <input type="file" name="user_pic1" id="id_user_pic1" title="">
                                            <a target="_blank" href="{{ user_name.user_pic1.url }}">{{ user_name.user_pic1 }}</a>
                                            {% else %}
                                            <label class="id_user_pic1" for="id_user_pic1">Browse</label>
                                            <input type="file" name="user_pic1" id="id_user_pic1" title="">
                                            {% endif %}
                                            <span>Max file size is 1MB, Minimum dimension: 270x210 And Suitable files are .jpg & .png</span>
                                        </div>
                                    </div>
                                    <p style="margin-top: 150px;">Photo 2</p>
                                    <div class="upload-img-bar">
                                        {% if user_name.user_pic2 %}
                                        <span class="round"><img id="image_section2" src="{{ user_name.user_pic2.url }}" alt="" /></span>
                                        {% else %}
                                        <span class="round"><img id="image_section2" src="http://placehold.it/140x140" alt="" /></span>
                                        {% endif %}
                                        <div class="upload-info">
                                            {% if user_name.user_pic2 %}
                                            <input type="checkbox" name="user_pic2-clear" id="user_pic2-clear_id">
                                            <label id="user_pic2-clear_label" for="user_pic2-clear_id">Clear</label>
                                            <label class="id_user_pic2" for="id_user_pic2">Browse</label>
                                            <input type="file" name="user_pic2" id="id_user_pic2" title="">
                                            <a target="_blank" href="{{ user_name.user_pic2.url }}">{{ user_name.user_pic2 }}</a>
                                            {% else %}
                                            <label class="id_user_pic2" for="id_user_pic2">Browse</label>
                                            <input type="file" name="user_pic2" id="id_user_pic2" title="">
                                            {% endif %}
                                            <span>Max file size is 1MB, Minimum dimension: 270x210 And Suitable files are .jpg & .png</span>
                                        </div>
                                    </div>
					 		</div>
					 		<div class="profile-form-edit">
                                <h3>Basic Info</h3>
                                <div>
					 				<div class="row">
					 					<div class="col-lg-6">
					 						<span class="pf-title">First Name</span>
					 						<div class="pf-field">
                                                {% if user_name.first_name %}
                                                <input type="text" name="first_name" maxlength="20" value="{{ user_name.first_name }}" required="" id="id_first_name">
                                                {% else %}
                                                <input type="text" name="first_name" maxlength="20" required="" id="id_first_name">
                                                {% endif %}
                                            </div>
					 					</div>
                                        <div class="col-lg-6">
					 						<span class="pf-title">Last Name</span>
					 						<div class="pf-field">
                                                {% if user_name.last_name %}
                                                <input type="text" name="last_name" maxlength="10" value="{{ user_name.last_name }}" required="" id="id_last_name">
                                                {% else %}
                                                <input type="text" name="last_name" maxlength="10" required="" id="id_last_name">
                                                {% endif %}
                                            </div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Country of Citizenship</span>
					 						<div class="pf-field">
					 							{% if user_name.country %}
                                                <select name="country" required="" id="id_country" data-placeholder="Please Select Specialism" class="chosen">
                                                    <option value="{{ user_name.country }}" selected="selected">{{ user_name.country }}</option>
                                                    <option value="USA">USA</option>
													<option value="Canada">Canada</option>
													<option value="UK">UK</option>
													<option value="Ireland">Ireland</option>
                                                    <option value="South Africa">South Africa</option>
                                                    <option value="New Zealand">New Zealand</option>
                                                    <option value="Australia">Australia</option>
                                                </select>
                                                {%  else %}
					 							<select name="country" required="" id="id_country" data-placeholder="Please Select Specialism" class="chosen">
                                                    <option value="USA">USA</option>
													<option value="Canada">Canada</option>
													<option value="UK">UK</option>
													<option value="Ireland">Ireland</option>
                                                    <option value="South Africa">South Africa</option>
                                                    <option value="New Zealand">New Zealand</option>
                                                    <option value="Australia">Australia</option>
												</select>
                                                {% endif %}
					 						</div>
					 					</div>
                                        <div class="col-lg-6">
					 						<span class="pf-title">Current city/country of residence</span>
					 						<div class="pf-field">
                                                {% if user_name.cur_residence %}
                                                <input type="text" name="cur_residence" maxlength="100" value="{{ user_name.cur_residence }}" required="" id="id_cur_residence">
                                                {% else %}
                                                <input type="text" name="cur_residence" maxlength="100" required="" id="id_cur_residence">
                                                {% endif %}
                                            </div>
					 					</div>
                                        <div class="col-lg-6">
					 						<span class="pf-title">Gender</span>
					 						<div class="pf-field">
					 							{% if user_name.gender %}
                                                <select name="gender" id="id_gender" data-placeholder="Please Select Specialism" class="chosen">
													<option value="{{ user_name.gender }}" selected="selected">{{ user_name.gender}}</option>
													<option value="Male">Male</option>
													<option value="Female">Female</option>
												</select>
                                                {% else %}
					 							<select name="gender" id="id_gender" data-placeholder="Please Select Specialism" class="chosen">
													<option>Default</option>
													<option value="Male">Male</option>
													<option value="Female">Female</option>
												</select>
                                                {% endif %}
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Date of birth</span>
					 						<div class="pf-field">
                                                {% if user_name.birth %}
                                                <input type="text" name="birth" maxlength="50" value="{{ user_name.birth }}" required="" id="id_birth">
                                                {% else %}
                                                <input type="text" name="birth" maxlength="50" required="" id="id_birth">
                                                {% endif %}
                                            </div>
					 					</div>
                                        <div class="col-lg-6">
					 						<span class="pf-title">Earliest available date</span>
					 						<div class="pf-field">
                                                <input type="text" name="start_date" maxlength="50" required="" id="id_start_date">
                                            </div>
					 					</div>
					 				</div>
                                </div>
					 		</div>
					 		<div class="social-edit"  id="sn">
					 			<h3>Resume</h3>
					 			<div>
					 				<div class="row">
					 					<p>Resume</p>
                                        <div class="upload-img-bar">
                                            <div class="update-info">
                                                {% if user_name.resume %}
                                                <input type="checkbox" name="resume-clear" id="resume-clear_id">
                                                <label id="resume-clear_label" for="resume-clear_id">Clear</label>
                                                <label class="id_resume" for="id_resume">Browse</label>
                                                <input type="file" name="resume" id="id_resume">
                                                <a href="{{ user_name.resume.url }}">{{ user_name.resume }}</a>
                                                {% else %}
                                                <label class="id_resume" for="id_resume">Browse</label>
                                                <input type="file" name="resume" id="id_resume">
                                                <p id="resume" class="resume-mypage"></p>
                                                {% endif %}
                                            </div>
                                        </div>
					 				</div>
					 			</div>
					 		</div>
					 		<div class="contact-edit" id="ci">
					 			<h3>University</h3>
					 			<div>
					 				<div class="row">
					 					<div class="col-lg-6">
					 						<span class="pf-title">University</span>
					 						<div class="pf-field">
                                                {% if user_name.university %}
                                                <input type="text" name="university" maxlength="100" value="{{ user_name.university }}" required="" id="id_university">
                                                {% else %}
                                                <input type="text" name="university" maxlength="100" required="" id="id_university">
                                                {% endif %}
                                            </div>
					 					</div>
                                        <div class="col-lg-6">
					 						<span class="pf-title">Major</span>
					 						<div class="pf-field">
                                                {% if user_name.major %}
                                                <input type="text" name="major" maxlength="100" value="{{ user_name.major }}" required="" id="id_major">
                                                {% else %}
                                                <input type="text" name="major" maxlength="100" required="" id="id_major">
                                                {% endif %}
                                            </div>
					 					</div>
                                        <div class="col-lg-6">
					 						<span class="pf-title">Graduate</span>
					 						<div class="pf-field" style="margin-bottom: 47px">
                                                {% if user_name.graduate %}
                                                <input type="checkbox" name="graduate" required="" id="id_graduate" checked>Did you graduate?<label id="graduate" for="id_graduate"></label>
                                                {% else %}
                                                <input type="checkbox" name="graduate"  required="" id="id_graduate">Did you graduate?<label id="graduate" for="id_graduate"></label>
                                                {% endif %}
                                            </div>
					 					</div>
                                        <div id="estimate_graduate_div" class="col-lg-6">
					 						<span class="pf-title">Estimate Graduate</span>
					 						<div class="pf-field">
                                                {% if user_name.estimate_graduate %}
                                                <input type="date" name="estimate_graduate" value="{{ user_name.estimate_graduate }}" required="" id="id_estimate_graduate">
                                                {% else %}
                                                <input type="date" name="estimate_graduate" required="" id="id_estimate_graduate">
                                                {% endif %}
                                            </div>
					 					</div>
					 					<div class="col-lg-12">
					 						<button id="update" type="submit">Update</button>
					 					</div>
					 				</div>
					 			</div>
					 		</div>
                            </form>
					 	</div>
					</div>
				 </div>
			</div>
		</div>
	</section>

	<footer>
		<div class="block block-foot">
			<div class="container">
				<div class="row">
					<div class="col-md-6 column">
						<div class="widget">
							<div class="about_widget">
								<div class="logo">
                                    <span>Teaching Holiday</span>
								</div>
                                <span><a href="{% url 'Job:list' %}">Job Board</a></span>
                                <span><a href="https://www.lokamobile.com/">SIM Service</a></span>
                                <span><a href="http://www.loka101.com/home/">Blog</a></span>

							</div><!-- About Widget -->
						</div>
					</div>

					<div class="col-md-6 column">
						<div class="widget">
							<div class="download_widget">
                                <div class="footer-info">
                                    <p class="footer-info-title">Email</p>
                                    <p class="footer-info-desc">help@loka101.com</p>
                                </div>
                                <div class="footer-info">
                                    <p class="footer-info-title">Kakao</p>
                                    <p class="footer-info-desc">loka101</p>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-line">
            <div class="social">
                <a href="#" title=""><i class="fa fa-facebook"></i></a>
                <a href="#" title=""><i class="fa fa-linkedin"></i></a>
            </div>
			<span>© 2018 Loka101 All rights reserved.</span>
			<a href="#scrollup" class="scrollup" title=""><i class="la la-arrow-up"></i></a>
		</div>
	</footer>
</div>

<script src="{% static "js/jquery.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/modernizr.js" %}" type="text/javascript"></script>
<script src="{% static "js/script.js" %}" type="text/javascript"></script>
<script src="{% static "js/wow.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/slick.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/parallax.js" %}" type="text/javascript"></script>
<script src="{% static "js/select-chosen.js" %}"  type="text/javascript"></script>

<script>
        function readURL2(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#image_section2').attr('src', e.target.result);
            $('#image_section2_review').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#id_user_pic2").change(function(){
    if ($('#id_user_pic2').val() != "") {
        var fileSize = document.getElementById("id_user_pic2").files[0].size;
        var maxSize = 3 * 1024 * 1024;//2MB

        if (fileSize > maxSize) {
            alert("Your second image file should be under 3MB.");
            doc.getElementById('id_user_pic2').focus();
            return;
        }
        else{
            readURL2(this);
        }
    }
});

        function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#image_section').attr('src', e.target.result);
            $('#image_section_review').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#id_user_pic1").change(function(){
    if ($('#id_user_pic1').val() != "") {
        var fileSize = document.getElementById("id_user_pic1").files[0].size;
        var maxSize = 3 * 1024 * 1024;//2MB

        if (fileSize > maxSize) {
            alert("Your second image file should be under 3MB.");
            doc.getElementById('id_user_pic1').focus();
            return;
        }
        else{
            readURL(this);
        }
    }
});

function findName2() {
    var fileValue = $("#id_resume").val().split("\\");
    var fileName = fileValue[fileValue.length-1];
    $('#resume').text(fileName);
}


$("#id_resume").change(function () {
     if ($('#id_resume').val() != "") {
         var fileSize = document.getElementById("id_resume").files[0].size;
         var maxSize = 7 * 1024 * 1024;//2MB

         if (fileSize > maxSize) {
             alert("Your resume file should be under 7MB.");
             doc.getElementById('id_resume').focus();
             return;
         }
         else {
             findName2();
         }
     }
})



        var doc = document;
    var detail = doc.getElementById('update');

    var func = function () {
        var userimage1 = doc.getElementById('image_section').src;
        var userimage2 = doc.getElementById('image_section2').src;
        var userfirst = doc.getElementById('id_first_name').value;
        var userlast = doc.getElementById('id_last_name').value;
        var usercountry = doc.getElementById('id_country').value;
        var usergender = doc.getElementById('id_gender').value;
        var userresidence = doc.getElementById('id_cur_residence').value;
        var userbirth = doc.getElementById('id_birth').value;
        var userstart = doc.getElementById('id_start_date').value;
        var university = doc.getElementById('id_university').value;
        var major = doc.getElementById('id_major').value;

        //1. 입력이 다 됐나 확인

        if(userimage1=="http://placehold.it/140x140"){
            alert('Put your first profile image');
            doc.getElementById('id_profile_image1').focus();
            return;
            //다시 원상태로 돌아가는것.
        }
        if(userimage2=="http://placehold.it/140x140"){
            alert('Put your second profile image');
            doc.getElementById('id_profile_image2').focus();
            return;
        }
        if(!userfirst){
            alert('Put your first name');
            doc.getElementById('id_first_name').focus();
            return;
        }
        if(!userlast){
            alert('Put your last name');
            doc.getElementById('id_last_name').focus();
            return;
        }
        if(!usercountry){
            alert('Choose your country');
            doc.getElementById('id_country').focus();
            return;
        }
        if(!usergender){
            alert('Choose your gender');
            doc.getElementById('id_gender').focus();
            return;
        }
        if(!userresidence){
            alert('Put your residence');
            doc.getElementById('id_cur_residence').focus();
            return;
        }
        if(!userbirth){
            alert('Put your birthday');
            doc.getElementById('id_birth').focus();
            return;
        }
        if(!userstart){
            alert('Put your earliest available date');
            doc.getElementById('id_start_date').focus();
            return;
        }

        if(!university){
            alert('Put your university');
            doc.getElementById('id_university').focus();
            return;
        }
        if(!major){
            alert('Put your major');
            doc.getElementById('id_major').focus();
            return;
        }

        if($("#id_graduate").is(":checked")){
        }
        else{
            if(!doc.getElementById('id_estimate_graduate').value){
                alert('Put your estimate graduate');
                doc.getElementById('id_estimate_graduate').focus();
                return;
            }
        }


    }

    detail.addEventListener('click',func);

</script>


</body>
</html>

